/* ./src/index.css */
body {
	background-image: url('./images/background/entrefox_bg.png');
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	height: 100vh;
	margin: 0;
	padding: 0;
}
